{% extends "base.html" %}
{% set title = "Edit" %}
{% set active = "edit" %}

{% block content %}
    <style>
        /* from: https://www.w3schools.com/howto/howto_css_switch.asp */
        /* The switch - the box around the slider */
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        /* Hide default HTML checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        /* The slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }


        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
    </style>

    <form action="/edit" method="POST">
        <label for="sceneRecording">New Scene Name:</label>
        <input type="text" id="sceneRecording" name="sceneName">

        <label for="static">Static:</label>
        <label class="switch" id="static">
            <input type="checkbox" name="static" value="True">
            <span class="slider round"></span>
        </label>

        <input type="submit" value="Start Recording">
    </form>
    <form action="/edit" method="POST">
        <label for="sceneRecordingStop">Currently Recording: {{ curRecording }}</label>
        <button type="submit" name="status" value="stop">Stop Recording</button>
    </form>

    <hr>

    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>

    <script>
        function clicked(e) {
            if (!confirm('Are you sure?')) {
                e.preventDefault();
            }
        }
    </script>

    <table>
        <tr>
            <th>Scene ID</th>
            <th>Scene Name</th>
            <th>Action</th>
        </tr>
        {% for (id,name) in sceneList %}
            <tr>
                <td>{{ id }}</td>
                <td>{{ name }}</td>
                <td>
                    <form action="/edit" method="POST">
                        <button type="submit" name="edit" value="{{ id }}">Edit</button>
                        <button type="submit" onclick="clicked(event)" name="delete" value="{{ id }}">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}