{% extends "base.html" %}
{% set title = "Edit" %}
{% set active = "edit" %}

{% block content %}
    <style>
        /* from: https://www.w3schools.com/howto/howto_css_switch.asp */
        /* The switch - the box around the slider */
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        /* Hide default HTML checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        /* The slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }


        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }

        table, th, td {
            border: 1px solid #ffffff;
            border-collapse: collapse;
        }

        #startRecordingBtn {
            background-color: #2ecc71; /* Grün */
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 8px;
            font-size: 1.1rem;
            font-weight: bold;
            cursor: pointer;
        }

        #startRecordingBtn:hover {
            background-color: #27ae60;
        }

        #stopRecordingBtn {
            background-color: #e74c3c; /* Rot */
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 8px;
            font-size: 1.1rem;
            font-weight: bold;
            cursor: pointer;
        }

        #stopRecordingBtn:hover {
            background-color: #c0392b;
        }

    </style>

    <script type="text/javascript" charset="utf-8">
        const socket = io("/edit");
        document.addEventListener("DOMContentLoaded", () => {
            const nameInput = document.getElementById("sceneRecording");
            const staticInput = document.getElementById("staticSwitch");

            const startBtn = document.getElementById("startRecordingBtn");
            const stopBtn = document.getElementById("stopRecordingBtn");

            // Start Recording
            startBtn.addEventListener("click", () => {
                const payload = {
                    sceneName: nameInput.value,
                    isStatic: staticInput.checked
                };

                socket.emit("startRecording", payload);
            });

            // Stop Recording
            stopBtn.addEventListener("click", () => {
                socket.emit("stopRecording");
            });

        });

        socket.on('init_scenes', function (data) {
            const scenes = data.scenes;
            const table = document.getElementById('table');

            scenes.forEach(scene => {
                const id = scene[0];
                const name = scene[1];

                //edit button
                const editButton = document.createElement("button");
                editButton.type = "button";
                editButton.textContent = "Edit";
                editButton.onclick = function () {
                    socket.emit('edit', id)
                }

                //delete button
                const deleteButton = document.createElement("button");
                deleteButton.type = "button";
                deleteButton.textContent = "Delete";
                deleteButton.onclick = function () {
                    if (confirm('Are you sure?')) {
                        socket.emit('delete', id)
                    }
                }

                const row = table.insertRow(id);
                const cellId = row.insertCell()
                const cellName = row.insertCell()
                const cellAction = row.insertCell()
                cellId.textContent = id;
                cellName.textContent = name;
                cellAction.appendChild(editButton)
                cellAction.appendChild(deleteButton)
            });
        });
    </script>


    <div id="recording">
        <label for="sceneRecording">New Scene Name:</label>
        <input type="text" id="sceneRecording">

        <label for="staticSwitch">Static:</label>
        <label class="switch">
            <input type="checkbox" id="staticSwitch" value="True">
            <span class="slider round"></span>
        </label>
        <br>
        <button id="startRecordingBtn">Start Recording</button>
        <br>
        <button id="stopRecordingBtn">Stop Recording</button>
    </div>

    <hr>

    <table id="table">
        <tr>
            <th>Scene ID</th>
            <th>Scene Name</th>
            <th>Action</th>
        </tr>
    </table>

{% endblock %}